name: Terraform Deploy

on:
  push:
    branches: [ main ] # Pipeline ruszy tylko gdy zrobisz push do main

jobs:
  moje-wdrozenie: # Zmień tę nazwę z 'deploy' na cokolwiek innego
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kodu
        uses: actions/checkout@v3

      - name: Konfiguracja AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init & Apply
        run: |
          terraform init
          terraform apply -auto-approve
          DIST_ID=$(terraform output -raw cloudfront_distribution_id | grep -oE "[A-Z0-9]+" | head -n 1)
          echo "DIST_ID=$DIST_ID" >> $GITHUB_ENV

      - name: CloudFront Invalidation
        if: success()
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.DIST_ID }} \
            --paths "/*"